@charset "utf-8";
	/* CSS Document*/
	/*index*/

/* General class */
body {
	font-family: Roboto, Arial, sans-serif;
	color: #404040;
	background: #EEE;
}


.english {
	font-family: Roboto, Arial, sans-serif;
	color: #1F4E79;
	font-size: 16px;
}

.chinese {
	font-family: 宋体;
	color: #1F4E79;
	font-size: 16px;
}

/* Header */
#header {
	background: url(../images/IBMheader.jpg) no-repeat;
	height: 60px;
}

#gpfslogo {
	position: absolute;
	width: 40px;
	top: 7px;
	left: 20px;
}

#title {
	position: absolute;
	top: 18px;
	left: 80px;
	font-size: 21px;
	color: white;
	white-space: nowrap;
}

#subtitle {
	position: absolute;
	top: 60px;
	left: 100px;
	font-size: 16px;
	color: white;
	white-space: nowrap;
}

/* Navigation Bar */
#navbar {
	background-color: #f5f5f5;
	vertical-align: top;
	border-right: 1px solid #e3e3e3;
}

#navbar-title {
	text-align: left;
	margin: 25px 0 10px 30px;
	color: #b0b0b0;
	font-weight: 600;
}

.folder {
	margin: 10px 0 0 30px;
	height: 30px;
}

.folder label {
	padding: 0 0 0 10px;
	height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	color: #696969;
	cursor: pointer;
}

.openfolder label {
	color: #4285f4;
}

.folder-icon {
	width: 30px;
	height: 30px;
}

.folder.unlinked {
	opacity: 0.4;
}

.folder.unlinked label {
	cursor: default;
}

.folder {
	position: relative;
}

.folder.home label:after {
	color: #696969;
    font-size: 15px;
    font-family: 'FontAwesome';
    margin-left: 5px;
    content: "\f015";
}

.folder.cleversafe-new:after {
	opacity: 0.7;
    color: #077DF1;
    font-size: 10px;
    left: 15px;
    font-family: 'FontAwesome';
    margin-left: 5px;
    content: "\f0c2";
    position: absolute;
    bottom: 0;
}

.folder label.navbar_tips {
	text-transform: lowercase;
    margin-top: 4px;
    border-radius: 3px;
    color: #FFF;
    background: #077DF1;
    margin-left: 10px;
    padding: 1px 3px;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-weight: 100;
}

/* Message Bar */
#messageBar {
	height: 25px;
    width: 100%;
    position: relative;
    background: #FFF;
    margin: 5px 0;
    border-radius: 2px;
    color: #33a451;
    border: 1px solid #33a451;
    display: none;
}

#messageBar #messageBar-icon {
	float: left;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	padding: 0 10px;
}

#messageBar #messageBar-msg {
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	text-align: left;
	color: #404040;
	font-size: 12px;
}

#messageBar #messageBar-close {
	float: right;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	color: #103319;
}

#messageBar #messageBar-close span:before {
	font-family: 'FontAwesome';
    content: '\f00d';
    font-size: 15px;
    margin: 0 10px;
    opacity: 0.5;
}

#messageBar #messageBar-close:hover span:before {
    opacity: 1;
}


/* Operation Button */
#opbar {
	position: relative;
	vertical-align: top;
	height: 30px;
    padding: 10px 15px 5px 15px;
}

#opbar li.button {
	float: left;
	margin-right: 5px;
}


#opbar li.button.uploadbtn span span:before {
	font-family: 'FontAwesome';
    content: '\f093';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.createfolderbtn a:before {
	font-family: 'FontAwesome';
    content: '\f114';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.migratebtn a:before {
	font-family: 'FontAwesome';
    content: '\f07e';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.deletebtn a:before {
	font-family: 'FontAwesome';
    content: '\f1b8';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.exportbtn a:before {
	font-family: 'FontAwesome';
    content: '\f0ee';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.importbtn a:before {
	font-family: 'FontAwesome';
    content: '\f0ed';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li.button.returnbtn a:before {
	font-family: 'FontAwesome';
    content: '\f112';
    font-size: 15px;
    margin-right: 5px;
}

#opbar li a {
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	background: #0074E8;
	cursor: pointer;
	border: 1px solid #EEE;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	display: inline-block;
}

#opbar li a:hover {
	background: #FFF;
	border: 1px solid #0074E8;
}

#opbar li a, #opbar li a span {
	color: #FFF;
}

#opbar li a:hover, #opbar li a:hover span {
	color: #0074E8;
}

#opbar li.uploadbtn a,
#opbar li.uploadbtn span {
	height: 30px;
	width: 70px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	padding: 0;
}

#opbar li.uploadbtn a {
	line-height: inherit;
}

#opbar li.uploadbtn span span {
	line-height: 30px;
}

#opbar li.align-right {
	float: right;
	padding-top: 0;
}

#opbar li.align-right div {
	float: right;
}

/* Return Path*/
#returnpath {
	height: 15px;
	padding: 5px 0 5px 15px;
}

#returnpath .returnlabel,
#returnpath .fullpath {
	float: left;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
}

#returnpath label {
	color: #7a7a7a;
	font-size: 13px;
    font-weight: 300;
}

#returnpath label.folder_path {
	margin: 0 3px;
	color: #4285f4;
	cursor: pointer;
}

#returnpath label.folder_path:hover {
	text-decoration: underline;
}

#returnpath label.folder_path.currentpath {
	cursor: default;
	color: #7a7a7a;
}

#returnpath label.folder_path.currentpath:hover {
	text-decoration: none;
}

#returnpath label.firstpath:before {
	font-family: 'FontAwesome';
    margin-right: 3px;
    content: "\f015";
}

/* Filter */
#filter {
	background: #EEE;
	height: 140px;
}

#filter td {
	padding: 5px 0 0 15px;
}

#filter td.filter-btn {
	padding-right: 10px;
}

#filter td.filter-title {
	font-weight: 700;
	color: #787878;
	flex: 0 0 auto;
	padding-top: 15px;
}

#table-filter-container {
	margin: 5px 15px;
    border-width: 0;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.04);
    background: #FFF;
    height: 130px;
}

#table-filter-container .filter-data {
	float: left;
	margin-right: 10px;
}

.filter-pool {
	width: 180px;
}

.filter-pool, .filter-pool-data {
	border-right: 1px dashed #EEE;
}

.filter-size {
	width: 237px;
}

.filter-date {
	width: 237px;
}

#table-filter-container label {
	display: inline-block;
	margin: 5px 0;
}

#table-filter-container input {
	padding: 4px 12px;
	height: 23px;
	border: 1px solid #BDC0C7;
	border-radius: 2px;
	line-height: 1.6;
	display: block;
}

#table-filter-container .filter-size input {
	width: 40px;
}

#table-filter-container .filter-date input {
	width: 70px;
}

#btn_filter, #btn_clear {
	line-height: 6px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding: 8px 10px;
    background: #FFF;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    color: #404040;
    vertical-align: middle;
	text-align: center;
	margin: 5px auto;
}

#btn_filter:hover, #btn_clear:hover {
	border: 1px solid #bababa;
}

#btn_filter i, #btn_clear i {
	display: block;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
}

#btn_filter label, #btn_clear label {
	cursor: pointer;
}

/* Content */
#content {
	padding: 0 15px;
	vertical-align: top;
}

#dataTable thead {
	background: #FFF;
}

#dataTable_wrapper {
    border-width: 0;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.04);
    background: #FFF;
    padding-bottom: 10px;
}

table.dataTable tbody tr {
	cursor: pointer;
}

table.dataTable thead th.datatable-data-col, 
table.dataTable thead th.datatable-checkbox, 
.dataTables_wrapper.no-footer .dataTables_scrollBody,
table.dataTable.no-footer  {
	border-bottom: 1px solid  #dee2e6;
	/*#e3e3e3;*/
}

.datatable-data-col {
	white-space: nowrap;
	font-size: 13px;
	position: relative;
}

.datatable-data-col .data-label {
	margin-left: 15px;
}

.datatable-data-col i.type-icon {
	color: #077DF1;
}

.datatable-data-col .inline-icon {
	margin-left: 5px;
	cursor: pointer;
}

#dataTable_filter label {
	visibility: hidden;
}

.more_fileinfo {
	font-size: 12px;
	position: relative;
	margin-left: 36px;
}

.more_fileinfo li {
	margin: 5px 0;
}

.more_fileinfo .fileinfo_label {
	width: 125px;
	color: gray;
	float: left;
}

.more_fileinfo .fileinfo_value {
	color: green;
}

.pool:before {
	width: 15px;
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

.pool.internal:before {
    content: '\f1c0';
}

.pool.external:before {
    content: '\f0c2';
    color: #077DF1;
}

.system:before {
	color: #FED230;
}

.silver:before {
	color: #CFCFCF;
}

.bronze:before {
	color: #FE7916;
}

#dataTable_wrapper .dataTables_info,
#dataTable_wrapper .dataTables_paginate {
	margin: 10px;
}

#dataTable_wrapper .paginate_button.disabled,
#dataTable_wrapper .paginate_button.disabled:hover,
#dataTable_wrapper .paginate_button.disabled:active {
	border-radius: 2px;
    border: 1px solid #dee2d6;
    color: #878787 !important;
    background: #FFF;
}

#dataTable_wrapper .paginate_button.current,
#dataTable_wrapper .paginate_button.current:hover,
#dataTable_wrapper .paginate_button.current:active {
	border-radius: 2px;
	border: 1px solid #4285f4;
	background: #4285f4;
	color: #FFF !important;
}

#dataTable_wrapper .paginate_button {
	border-radius: 2px;
	border: 1px solid #DDD;
	background: #FFF;
	color: #404040 !important;
}

#dataTable_wrapper .paginate_button:hover {
	border-radius: 2px;
	border: 1px solid #DEE2E6;
	background: #ececec;
	color: #0d5bdd !important;
}

#dataTable td.datatable-checkbox {
	text-align: center;
	vertical-align: middle;
}

.pool-col {
	position: relative;
}

 /* Statistics */
#statistics {
	vertical-align: top;
	height: 300px;
	overflow: auto;
	display: none;
	border-top: 5px #077DF1 solid;
	background: #FFF;
}

#more {
	position: fixed;
	bottom: 0;
	z-index: 10000;
	width: 100%;
}

#more .stat_line {
	padding-top: 5px;
	width: 130px;
	background: #077DF1;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-left: 8px;
	position: relative;
	vertical-align: middle;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#more .stat_line:hover {
	cursor: pointer;
}

#more .stat_line img {
	left: 5px;
	width: 15px;
	position: absolute;
}

#statistics .stat_title {
	text-align: center;
	padding: 0 0 20px 0;
}

#statistics .ui-progressbar {
	position: relative;
	height: 10px;
}

.stat_progressbar-name {
	position: relative;
}

.stat_progressbar-name label {
	font-size: 10px;
	color: gray;
}

.stat_progressbar-name label.right {
	text-align: right;
	position: absolute;
	right: 0;
	top: 5px;
}

#statistics .bottom {
	padding: 0 0 20px 0;
}

#statistics .stat_progressbar-label {
	width: 25px;
	text-align: right;
	padding-left: 5px;
	font-size: 10px;
	color: gray;
}

td.stat_progressbar-row {
	padding: 5px 0;
}

#stat_progressbar {
	width: 250px;
	margin: 0 auto;
}

/* logs */
#logs_td {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	padding-right: 10px;
}

#logs {
}

#log {
	overflow: :hidden;
	height: 205px;
	word-break: keep-all;
	border: solid 1px #f6f6f6;
	background: #FFFFFF;
	font-size: 10px;
}

#log:hover {
	overflow: scroll;
}

#log_title {
	text-align: center;
	padding: 10px 0 30px 0;
}


/********************************/

.header {
	background: url(../images/head-bj.png) repeat-x;
	height: 90px;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 999;
}

.head-cut {
	background: #000;
}

.head-box {
	overflow: auto;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 999;
}

.head {
	background-image: url('../images/IBMheader.jpg');
	width: 100%;
	height: 80px;
}

.logo {
	margin-top: 11px;
	margin-left: 15px;
}

.head-right {
	width: 600px;
}

.head-a {
	height: 26px;
	margin: 16px 0 10px;
}

.head-a3 {
	width: 59px;
	''
	text-align: Center;
	height: 24px;
	line-height: 24px;
	background: #60b6ff;
	font-size: 14px;
	color: #fff;
	margin: 1px 150px 0 0;
}
/*
	mid-content
*/
.content {
	width: 100%;
	margin: 0 auto;
}

.left_content {
	width: 220px;
	margin-left: 0 auto;
	float: left;
	padding: 30px 0 0 40px;
}

.right_content {
	width: 625px;
	float: left;
	padding: 30px 0 0 30px;
}


/*
	log block
*/

#longer {
	height: 240px;
	width: 160px;
	overflow: auto;
	word-break: normal;
}

#long {
	overflow: hidden;
	word-break: normal;
}

.ru-fl {
	width: 100%;
}

.ru-a {
	margin: 30px auto;
	width: 100%;
	border-bottom: 1px solid #c6c6c6;
}

.ru-title {
	height: 10px;
	top: -25px;
	position: relative;
}

/*
migration pool css
*/
/*action*/
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
 /*Initial state transparency is 0*/
	}

	20% {
		opacity: .2;
	}

	50% {
		opacity: .5;
 /*Intermediate state transparency is 0.5*/
	}

	70% {
		opacity: .7;
	}

	100% {
		opacity: 1;
 /*End state transparency is 1*/
	}
}

#Tiers {
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 10%;
	height: 28%;
	padding: 20px;
	border: 10px solid #000066;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	box-shadow: 0 0 35px #000066;
	/*Call animation effect*/
	-webkit-animation-name: fadeIn;
 /*Animation name*/
	-webkit-animation-duration: 0.5s;
 /*Animation duration*/
	-webkit-animation-iteration-count: 1;
 /*Number of animations*/
	-webkit-animation-delay: 0s;
 /*delay time*/
}

.pool_name {
	position: relative;
	left: 12px;
	padding-left: 8px;
}

.pool_name:before {
	content: '';
	display: inline-block;
	font-size: 20px;
	width: 16px;
	height: 16px;
	border: 2px solid #999;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: -2px;
	left: 6px;
}

/*input[type=radio]:checked:before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #999;
	position: absolute;
	top: 4px;
	left: 12px;
}

input[type=radio] {
	margin-right: 6px;
}*/

.pool_check {
	position: relative;
	top: 12px;
	left: 10px;
	width: 30px;
	height: 30px;
	background: url(../images/pool_check.jpg) no-repeat center;
}

.pool_close {
	position: relative;
	top: 10px;
	left: 42px;
	width: 30px;
	height: 30px;
	background: url(../images/pool_close.jpg) no-repeat center;
}
/**********************************************************************/

/* Select Widget */
.select {
    position: relative;
    display: block;
    width: 170px;
    max-width: 325px;
    color: #666;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
}
.select .placeholder {
	border: 1px solid #BDC0C7;
    position: relative;
    display: block;
    background-color: #FFF;
    z-index: 1;
    padding: 7px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.select .placeholder:after {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    content: '\f078';
    z-index: 10;
}
.select.is-open .placeholder:after {
    content: '\f077';
}

.select .placeholder:before {
    content: "\f1c0";
	transform: translateY(-50%);
    font-family: 'FontAwesome';
    z-index: 10;
    margin-right: 10px;
}

.select.is-open ul {
    display: block;
    box-shadow: 0 0 4px rgba(0,0,0,.04);
    border-radius: 3px;
    border: 1px solid #c5c5c5;
}
.select.select--white .placeholder {
    background: #fff;
    color: #999;
}
.select.select--white .placeholder:hover {
    background: #fafafa;
}
.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
}
.select ul li {
    display: block;
    text-align: left;
    padding: 8px 10px;
    color: #999;
    cursor: pointer;
    background: #FFF;
}
.select ul li:hover {
    background: #4ebbf0;
    color: #fff;
}

/* Date Picker */

.ui-datepicker .ui-datepicker-header {
    background: #FFF;
    border: 0;
}

.ui-datepicker .ui-datepicker-header select {
	border-radius: 2px;
	border: 1px solid #BDC0C7;
	margin: 0 3px;
    padding: 5px 3px;
    font-size: 13px;
    line-height: 33px;
    height: 33px;
}

.ui-widget-content .ui-state-default {
	margin: 0;
    line-height: 30px;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FFF;
    background: #FFF;
    color: #737373;
    height: 30px;
    width: 30px;
}

.ui-widget-content .ui-state-default:hover {
	background: #ececec;
	border: 1px solid #ececec;
}

.ui-widget-content .ui-state-default.ui-state-highlight,
.ui-widget-content .ui-state-default.ui-state-highlight:hover {
    border: 1px solid #ececec;
    background: #ececec;
}

.ui-widget-content .ui-state-default.ui-state-active,
.ui-widget-content .ui-state-default.ui-state-active:hover {
    border: 1px solid #4285f4;
    background: #4285f4;
    color: #FFF;
}

/* Dialog widget */
.ui-draggable .ui-dialog-titlebar {
	background: #FFF;
	border: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	background: #FFF;
	border: 0;
}

.ui-dialog .ui-dialog-buttonpane {
	border: 0;
}

.ui-dialog .ui-dialog-content {
	text-align: center;
}

.ui-dialog .ui-dialog-content i.fa-exclamation-triangle {
	color: #fbbc05!important;
}

.ui-dialog .ui-dialog-content i.fa-info-circle {
	color: #4285f4!important;
}

.ui-dialog .ui-dialog-content p {
	margin: 15px 0;
	color: #404040;
}

.ui-dialog .ui-dialog-content p.messageType {
	font-size: 20px;
}

.ui-dialog .ui-dialog-buttonpane button {
    background: #FFF;
    border: 1px solid #dbdbdb;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
    border: 1px solid #bababa;
}

#migration-dialog ul {
	text-align: left;
	padding-left: 45px;
}

#migration-dialog li {
	margin: 3px 0;
}

#migration-dialog ul li input {
	margin-right: 10px;
}

/* Input Check Box */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked {
    background: #2489c5;
}

input[type="checkbox"]:disabled {
    border-color: #CCC;
}

input[type="checkbox"] + span:before {
    font-family: 'FontAwesome';
    content: '';
    font-size: 15px;
    margin-right: 5px;
    border: 1px solid #ccc;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
} 

input[type="checkbox"]:checked + span:before {
    content: '\f00c';
    border: 1px solid #2489c5;
    color: #2489c5;
}

input[type="checkbox"]:disabled + span:before {
    cursor: none;
    background: #EEE;
}
