@charset "utf-8";
	/* CSS Document*/
	/*index*/

/* General class */
.english {
	font-family: arial;
	color: #1F4E79;
	font-size: 16px;
}

.chinese {
	font-family: 宋体;
	color: #1F4E79;
	font-size: 16px;
}

/* Header */
#header {
	background: url(../images/IBMheader.jpg) no-repeat;
	height: 110px;
}

#gpfslogo {
	position: absolute;
    width: 60px;
    top: 20px;
    left: 20px;
}

#title {
	position: absolute;
	top: 30px;
    left: 100px;
    font-size: 21px;
    color: white;
    white-space: nowrap;
}

#subtitle {
	position: absolute;
	top: 60px;
    left: 100px;
    font-size: 16px;
    color: white;
    white-space: nowrap;
}

/* Navigation Bar */
#navbar {
	background-color: #E7E6E6;
	vertical-align: top;
}

#navbar-title {
	text-align: center;
    margin: 10px 0 20px 0;
}

.folder {
    margin: 10px 0 0 30px;
    height: 30px;
}

.folder label {
	padding: 0 0 0 10px;
	height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	color: gray;
	cursor: pointer;
}

.openfolder label {
	color: #1F4E79;
}

.folder-icon {
	width: 30px;
	height: 30px;
}

/* Operation Button */
#opbar {
	background-color: white;
	padding: 3px 10px;
}

.default-button {
	background-color: #C00000;
	padding: 3px 7px;
	color: white;
	font-size: 10px;
	margin-left: 5px;
	cursor: pointer;
}q

/* Content */
#content {
	padding: 0 15px;
}


 /* Statistics */
#statistics {
	vertical-align: top;
}

#statistics .stat_title {
	text-align: center;
	padding: 0 0 20px 0;
}

#statistics .stat_progressbar-name {
	padding: 0 10px 0 10px;
}

#statistics .ui-progressbar {
	position: relative;
	width: 200px;
	height: 25px;
}

#statistics .stat_progressbar-label {
	position: absolute;
	right: 5px;
    top: 5px;
    text-shadow: 1px 1px 0 #fff;
    font-size: 13px;
}

td.stat_progressbar-row {
	padding: 5px 0;
}

/* logs */


/********************************/

.header {
	background:url(../images/head-bj.png) repeat-x;
	height:90px;
	position:fixed;
	top:0;
	width:100%;
	left:0;
	z-index:999;
}
.head-cut {
	background:#000;
}
.head-box {
	overflow: auto;
	height:100%;
	position:relative;
	width:100%;
	z-index:999;
}
.head {
	background-image:url('../images/IBMheader.jpg');
	width: 100%;
	height:80px;
}
.logo {
	margin-top:11px;
	margin-left: 15px;
}
.head-right {
	width:600px;
}
.head-a {
	height:26px;
	margin:16px 0 10px;
}
.head-a3 {
	width:59px;
	''	text-align:Center;
	height:24px;
	line-height:24px;
	background:#60b6ff;
	font-size:14px;
	color:#fff;
	margin:1px 150px 0 0;
}
/*
	mid-content
*/
.content {
	width:100%;
	margin:0 auto;
}
.left_content {
	width:220px;
	margin-left:0 auto;
	float: left;
	padding:30px 0 0 40px;
}
.right_content {
	width:625px;
	float:left;
	padding:30px 0 0 30px;
}
.sidebarmenu {
	margin:0px 0;
	top: -20px;
	position: relative;
	padding:0;
	width:200px;
	height: 450px;
	overflow: auto;
}
.sidebarmenu a.menuitem {
	background:rgba(25, 25, 112, 1);
	color: white;
	display: block;
	position: relative;
	width:185px;
	height:31px;
	margin:0 0 5px 0;
	line-height:31px;
	padding:0px 0 0 10px;
	text-decoration: none;
}
.sidebarmenu a.menuitem_green {
	background:url(images/green_bt.gif) no-repeat center top;
	color: #fff;
	display: block;
	position: relative;
	width:185px;
	height:31px;
	margin:0 0 5px 0;
	line-height:31px;
	padding:0px 0 0 10px;
	text-decoration: none;
}
.sidebarmenu a.menuitem_red {
	background:url(images/red_bt.gif) no-repeat center top;
	color: #fff;
	display: block;
	position: relative;
	width:185px;
	height:31px;
	margin:0 0 5px 0;
	line-height:31px;
	padding:0px 0 0 10px;
	text-decoration: none;
}
.sidebarmenu a.menuitem:hover {
	background:url(images/sidebar_menu_top_a.gif) no-repeat center top;
}
.sidebarmenu a.menuitem_green:hover {
	background:url(images/green_bt_a.gif) no-repeat center top;
}
.sidebarmenu a.menuitem_red:hover {
	background:url(images/red_bt_a.gif) no-repeat center top;
}
.sidebarmenu a.menuitem:visited, .sidebarmenu .menuitem:active {
	color: white;
}
.sidebarmenu a.menuitem .statusicon {
	position: absolute;
	top:11px;
	right:7px;
	border: none;
}
.sidebarmenu div.submenu {
	background: white;
	overflow: auto;
}
.sidebarmenu div.submenu ul {
	list-style-type: none;
	overflow: auto;
	margin: 0;
	padding: 0 0 5px 0;
}
.sidebarmenu div.submenu ul li {
	border-bottom: 1px dotted #bfd1d9;
}
.sidebarmenu div.submenu ul li a {
	display: block;
	color: black;
	text-decoration: none;
	padding:5px 0;
	padding-left: 10px;
}
.sidebarmenu div.submenu ul li a:hover {
	background: #e2f0ff;
	color: #0e4354;
}
.sidebar_search {
	background:url(images/sidebar_menu_top.gif) no-repeat center;
	width:195px;
	height:31px;
	margin:0 0 5px 0;
}
input.search_input {
	width:155px;
	height:16px;
	margin:5px 0 0 5px;
	border:1px #bdebfd solid;
	background:#92dbf8;
	padding:4px 0 0 2px;
	float:left;
	color:#096184;
	font-size:11px;
}
input.search_submit {
	float:left;
	background:none;
	border:none;
	margin:7px 0 0 8px;
}
.cou-b-title {
	height:27px;
	position:relative;
}
.cou-b1 {
	height:27px;
	line-height:27px;
	font-size:18px;
	float: left;
	margin-left: 70px;
	color:#000000;
}
.cou-b1 img {
	margin:-3px 10px 0 0;
	width: 30px;
}
.cou-b2 {
	height:27px;
	float: left;
	line-height:27px;
	font-size:18px;
	margin-left: 340px;
	color:#000000;
}
.cou-b2 img {
	margin:-3px 10px 0 0;
	width: 30px;
}
.cou-b3 {
	height:27px;
	line-height:27px;
	font-size:18px;
	float: left;
	margin-left: 370px;
	color:#000000;
}
.cou-b3 img {
	margin:-3px 10px 0 0;
	width: 30px;
}
/*community*/
	.community {
	overflow:hidden;
	padding-bottom:35px;
	border-bottom:1px solid #c6c6c6;
}
.ru {
	overflow:hidden;
	margin:18px 0 36px;
}
/*
	all-table in index
*/
#table1 {
	margin: 0px 400px 30px 320px;
	top:-400px;
	right: 70px;
	width: 130px;
	height: 20px;
	border: 1px solid midnightblue ;
	position: relative;
	border-collapse: collapse;
	/*设置表格的边框是否被合并为一个单一的边框*/
	border-spacing: 0;
	/*设置相邻单元格的边框间的距离*/
}
#table1 tr {
	width: 300px;
	height: 40px;
	line-height: 40px;
	border: 1px solid  ;
	background-color: white;

}
#table1 td {
	height:30px;
	width: 150px;
	line-height: 30px;
	text-align: center;
	border: 1px solid midnightblue ;

}
#table1 th {
	height:30px;
	width: 150px;
	line-height: 30px;
	text-align: center;
	border: 1px solid  ;
    background-color:midnightblue ;
    color: white;
}
#table2 {
	border-collapse: collapse;
	word-wrap:break-word;
	border: 1px solid white;
	position: absolute;
	height:40px;
	width:260px;
	top:200px;
	left: 460px;
}
#table2 td {
	border: 1px solid white;
	height:40px;
	width:100px;
}
#table2 th {
	border: 1px solid white;
	height:40px;
	width: 140px;
	background-color:lightgrey;
	color:black;
}
/*
	log block
*/

#longer {
	height:240px;
	width:160px;
	overflow:auto;
	word-break: normal;
}
#long {
	overflow:hidden;
	word-break: normal;
}
.ru-fl {
	width:100%;
}
.ru-a {
	margin: 30px auto;
	width: 100%;
	border-bottom:1px solid #c6c6c6;
}
.ru-title {
	height:10px;
	top: -25px;
	position:relative;
}
/*
	all progressbar
*/
#statistics{
	width: 800px;
	 height:300px;
	 overflow: auto;
}

.all_progress{
	position: relative;
	width: 400px;
	height: 300px;
	top:30px;
	left:70px;
}
#progressbar{
	width:400px;
	height:300px;
}
#progressbar_title{
	position:relative;
	left: 220px;
	top: 50px;
	font-size: 16px;
	color:midnightblue;
}

#progressbar1 {
	width: 270px;
	top: 30px;
	position: relative;
	left: 20px;
}
#progressbar2 {
	width: 270px;
	top: 67px;
	position: relative;
	left: -56px;
}
#progressbar3 {
	width: 270px;
	top: 96px;
	position: relative;
	left: -56px;
}
#progress_bar1 {
	width: 320px;
	margin-top: 70px;
	left: 10%;
	top: -80px;
	position: relative;
}
#progress_bar2 {
	left: 30px;
	width: 320px;
	position: relative;
	top: -130px;
	left: 30%;
}
#progress_bar3 {
	left: 38px;
	position: relative;
	width: 320px;
	top: -170px;
	z-index: 1;
	left: 30%;
}
.line1 {
	position: absolute;
	display: none;
	z-index: 2;
	left: 28%;
	margin-top: 30px;
	height: 220px;
	/*竖线高度*/
	border:1px dashed rgba(128, 128, 128, 1);
}
.line2 {
	position: absolute;
	display: none;
	margin-top: 30px;
	z-index: 2;
	left: 57%;
	height: 220px;
	/*竖线高度*/
	border:1px dashed rgba(128, 128, 128, 1);
}
.line1-tag {
	position: absolute;
	display: none;
	z-index: 2;
	left: 25%;
	color:rgba(128, 128, 128, 1);
	margin-top: -70px;
}
.line2-tag {
	margin-top: -70px;
	position: absolute;
	display: none;
	z-index: 2;
	left: 57%;
	color: rgba(128, 128, 128, 1);
}
.progress-label-1 {
	position: absolute;
	left: 35%;
	top: 4px;
	font-size:10px;
	color:maroon;
}
#progressbar1_name{
	position: relative;
	left: 8px;
	top: 45px;
	font-size: 15px;
	bottom:-20px;
	font-family:Times New Roman;
}
.progress-label-2 {
	position: absolute;
	left: 35%;
	top: 4px;
	font-size:10px;
	color:maroon;
}
#progressbar2_name{
	position: relative;
	left: 8px;
	top: -40px;
	font-size: 15px;
	bottom:35px;
	font-family:Times New Roman;
}
.progress-label-3 {
	position: absolute;
	left: 35%;
	top: 4px;
	font-size:10px;
	color:maroon;
}
#progressbar3_name{
	position: relative;
	left: 8px;
	top: -55px;
	font-size: 15px;
	bottom:35px;
	font-family:Times New Roman;
}
.contain1 {
	position:relative;
	top: 5px;
	left:298px;
	width: 50px;
	bottom: 25px;
	font-size: 12px;
	word-break: break-all;
}
.contain2 {
	position:relative;
	left:220px;
	top: 40px;
	width: 50px;
	bottom: 25px;
	font-size: 12px;
	word-break: break-all;
}
.contain3 {
	position:relative;
	left:220px;
	top: 72px;
	width: 50px;
	bottom: 25px;
	font-size: 12px;
	word-break: break-all;
}

#logs_td{
	width: 400px;
	 height:300px;
}
#logs{
	position: relative;
	top:0px;
	left:100px;
}
#log{
	overflow: scroll;width:420px;
	height: 140px;position:relative;
	left:60px;word-break:keep-all;
	border-top: 1px solid #c6c6c6;
	border-top-width: 100%;
	background: lightgrey;
	font-size: 13px;
}
#log_title{
	position:relative;
	left:50%;bottom:10px;
	font-size: 16px;
	color:darkblue;
}


/*input*/
.inputfile {
    width: 0.1px; 
    height: 0.1px; 
    opacity: 0; 
    overflow: hidden; 
    position: absolute; 
    z-index: -1;
}
.inputfile + label {
    font-size: 1.20em;
    font-weight: 500;
    width: 115px;
    color: rgba(255,255,255,0.9);
  background-color: rgba(255,0,0,0.8);
      display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgba(255,0,0,1);
}

.updatebutton {
    width: 0.1px; 
    height: 0.1px; 
    opacity: 0; 
    overflow: hidden; 
    position: absolute; 
    z-index: -1;
}
.updatebutton + label {
	position: relative;
	top:10px;
    font-size: 1.20em;
    font-weight: 500;
    width: 55px;
    color: rgba(255,255,255,0.9);
    background-color: rgba(255,0,0,0.8);
    display: inline-block;
}
.updatebutton:focus + label,
.updatebutton + label:hover {
    background-color: rgba(255,0,0,1);}
img:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}
#statistics{
	width:98%;
	height:300px;
	overflow:auto;
	display:none;
}
#more{
	position:relative;
	left:45%;
	bottom:28px;
}
/*
migration pool css
*/
/*action*/
@-webkit-keyframes fadeIn {
	0% {
	opacity: 0; /*Initial state transparency is 0*/
	}
	20%{
		opacity: .2;
	}
	50% {
		opacity: .5; /*Intermediate state transparency is 0.5*/
	}
	70%{
		opacity: .7;
	}
	100% {
		opacity: 1; /*End state transparency is 1*/
	}
}
#Tiers{
	display: none; 
	position: absolute; 
	top: 40%;  
	left: 40%; 
	width: 10%; 
	height: 28%;  
	padding: 20px;
	border: 10px solid #000066; 
	background-color: white;  
	z-index:1002;  
	overflow: auto; 
	box-shadow:0 0 35px #000066;
	/*Call animation effect*/
	-webkit-animation-name: fadeIn; /*Animation name*/
	-webkit-animation-duration: 0.5s; /*Animation duration*/
	-webkit-animation-iteration-count: 1; /*Number of animations*/
	-webkit-animation-delay: 0s; /*delay time*/
}
.pool_name
{
    position: relative;
    left: 12px;
    padding-left: 8px;
}
.pool_name:before{
    content: '';
    display: inline-block;
    font-size: 20px;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -2px;
    left: 6px;
}
input[type=radio]:checked:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    top: 4px;
    left: 12px;
}
input[type=radio]{
    margin-right: 6px;
}
.pool_check{
	position: relative;
	top: 12px;
	left: 10px;
	width: 30px; 
	height: 30px; 
	background: url(../images/pool_check.jpg) no-repeat center;
}
.pool_close{
	position: relative;
	top: 10px;
	left: 42px;
	width: 30px; 
	height: 30px; 
	background: url(../images/pool_close.jpg) no-repeat center;
}
#backpath{
	width:30px;
	background-color: #C00000;
	color:white;
	font-size:12px;
}