@charset "utf-8";
	/* CSS Document*/
	/*index*/

/* General class */
body {
	font-family: Roboto, Arial, sans-serif;
	color: #404040
}


.english {
	font-family: Roboto, Arial, sans-serif;
	color: #1F4E79;
	font-size: 16px;
}

.chinese {
	font-family: 宋体;
	color: #1F4E79;
	font-size: 16px;
}

/* Header */
#header {
	background: url(../images/IBMheader.jpg) no-repeat;
	height: 60px;
}

#gpfslogo {
	position: absolute;
	width: 40px;
	top: 7px;
	left: 20px;
}

#title {
	position: absolute;
	top: 18px;
	left: 80px;
	font-size: 21px;
	color: white;
	white-space: nowrap;
}

#subtitle {
	position: absolute;
	top: 60px;
	left: 100px;
	font-size: 16px;
	color: white;
	white-space: nowrap;
}

/* Navigation Bar */
#navbar {
	background-color: #f5f5f5;
	vertical-align: top;
	border-right: 1px solid #e3e3e3;
}

#navbar-title {
	text-align: center;
	margin: 10px 0 20px 0;
}

.folder {
	margin: 10px 0 0 30px;
	height: 30px;
}

.folder label {
	padding: 0 0 0 10px;
	height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	color: gray;
	cursor: pointer;
}

.openfolder label {
	color: #1F4E79;
}

.folder-icon {
	width: 30px;
	height: 30px;
}

/* Operation Button */
#opbar {
	background-color: white;
	padding: 3px 10px;
	position: relative;
}

#opbar li.button {
	float: left;
	margin-right: 5px;
	padding-top: 8px;
}

#opbar li a {
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	padding: 8px 10px;
	background: #0074E8;
	cursor: pointer;
	border: 1px solid #FFF;
}

#opbar li a:hover {
	background: #FFF;
	border: 1px solid #0074E8;
}

#opbar li a, #opbar li a span {
	color: #FFF;
}

#opbar li a:hover, #opbar li a:hover span {
	color: #0074E8;
}

#opbar li.uploadbtn a span.btn {
	height: 15px;
	width: 50px;
}

#opbar li.align-right {
	float: right;
	padding-top: 0;
}

#opbar li.align-right div {
	float: right;
}

/* Return Path*/
#returnpath {
	height: 15px;
	padding: 0 0 15px 15px;
}

#returnpath .returnlabel {
	float: left;
}

#returnpath .fullpath {
	float: left;
}

/* Content */
#content {
	padding: 0 15px;
	vertical-align: top;
}

table.dataTable thead th.datatable-data-col, 
table.dataTable thead th.datatable-checkbox, 
.dataTables_wrapper.no-footer .dataTables_scrollBody,
table.dataTable.no-footer  {
	border-bottom: 1px solid  #dee2e6;
	/*#e3e3e3;*/
}

.datatable-data-col {
	white-space: nowrap;
	font-size: 13px;
	position: relative;
}

.datatable-data-col .data-icon {
	position: absolute;
	height: 30px;
	top: 1px;
}

.datatable-data-col .data-label {
	margin-left: 35px;
}

.datatable-data-col .inline-icon {
	margin-left: 5px;
	cursor: pointer;
}

#dataTable_filter {
	display: none;
}

#more_fileinfo {
	font-size: 12px;
	position: relative;
	margin-left: 36px;
}

#more_fileinfo li {
	margin: 5px 0;
}

#more_fileinfo .fileinfo_label {
	width: 100px;
	color: gray;
	float: left;
}

#more_fileinfo .fileinfo_value {
	color: green;
}

 /* Statistics */
#statistics {
	vertical-align: top;
	height: 300px;
	overflow: auto;
	display: none;
	border-top: 5px #077DF1 solid;
	background: #FFF;
}

#more {
	position: fixed;
	bottom: 0;
	z-index: 10000;
	width: 100%;
}

#more .stat_line {
	padding-top: 5px;
	width: 130px;
	background: #077DF1;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-left: 8px;
	position: relative;
	vertical-align: middle;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#more .stat_line:hover {
	cursor: pointer;
}

#more .stat_line img {
	left: 5px;
	width: 15px;
	position: absolute;
}

#statistics .stat_title {
	text-align: center;
	padding: 0 0 20px 0;
}

#statistics .ui-progressbar {
	position: relative;
	height: 10px;
}

.stat_progressbar-name {
	position: relative;
}

.stat_progressbar-name label {
	font-size: 10px;
	color: gray;
}

.stat_progressbar-name label.right {
	text-align: right;
	position: absolute;
	right: 0;
	top: 5px;
}

#statistics .bottom {
	padding: 0 0 20px 0;
}

#statistics .stat_progressbar-label {
	width: 25px;
	text-align: right;
	padding-left: 5px;
	font-size: 10px;
	color: gray;
}

td.stat_progressbar-row {
	padding: 5px 0;
}

#stat_progressbar {
	width: 250px;
	margin: 0 auto;
}

/* logs */
#logs_td {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	padding-right: 10px;
}

#logs {
}

#log {
	overflow: :hidden;
	height: 205px;
	word-break: keep-all;
	border: solid 1px #f6f6f6;
	background: #FFFFFF;
	font-size: 10px;
}

#log:hover {
	overflow: scroll;
}

#log_title {
	text-align: center;
	padding: 10px 0 30px 0;
}


/********************************/

.header {
	background: url(../images/head-bj.png) repeat-x;
	height: 90px;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 999;
}

.head-cut {
	background: #000;
}

.head-box {
	overflow: auto;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 999;
}

.head {
	background-image: url('../images/IBMheader.jpg');
	width: 100%;
	height: 80px;
}

.logo {
	margin-top: 11px;
	margin-left: 15px;
}

.head-right {
	width: 600px;
}

.head-a {
	height: 26px;
	margin: 16px 0 10px;
}

.head-a3 {
	width: 59px;
	''
	text-align: Center;
	height: 24px;
	line-height: 24px;
	background: #60b6ff;
	font-size: 14px;
	color: #fff;
	margin: 1px 150px 0 0;
}
/*
	mid-content
*/
.content {
	width: 100%;
	margin: 0 auto;
}

.left_content {
	width: 220px;
	margin-left: 0 auto;
	float: left;
	padding: 30px 0 0 40px;
}

.right_content {
	width: 625px;
	float: left;
	padding: 30px 0 0 30px;
}


/*
	log block
*/

#longer {
	height: 240px;
	width: 160px;
	overflow: auto;
	word-break: normal;
}

#long {
	overflow: hidden;
	word-break: normal;
}

.ru-fl {
	width: 100%;
}

.ru-a {
	margin: 30px auto;
	width: 100%;
	border-bottom: 1px solid #c6c6c6;
}

.ru-title {
	height: 10px;
	top: -25px;
	position: relative;
}

/*
migration pool css
*/
/*action*/
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
 /*Initial state transparency is 0*/
	}

	20% {
		opacity: .2;
	}

	50% {
		opacity: .5;
 /*Intermediate state transparency is 0.5*/
	}

	70% {
		opacity: .7;
	}

	100% {
		opacity: 1;
 /*End state transparency is 1*/
	}
}

#Tiers {
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 10%;
	height: 28%;
	padding: 20px;
	border: 10px solid #000066;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	box-shadow: 0 0 35px #000066;
	/*Call animation effect*/
	-webkit-animation-name: fadeIn;
 /*Animation name*/
	-webkit-animation-duration: 0.5s;
 /*Animation duration*/
	-webkit-animation-iteration-count: 1;
 /*Number of animations*/
	-webkit-animation-delay: 0s;
 /*delay time*/
}

.pool_name {
	position: relative;
	left: 12px;
	padding-left: 8px;
}

.pool_name:before {
	content: '';
	display: inline-block;
	font-size: 20px;
	width: 16px;
	height: 16px;
	border: 2px solid #999;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: -2px;
	left: 6px;
}

input[type=radio]:checked:before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #999;
	position: absolute;
	top: 4px;
	left: 12px;
}

input[type=radio] {
	margin-right: 6px;
}

.pool_check {
	position: relative;
	top: 12px;
	left: 10px;
	width: 30px;
	height: 30px;
	background: url(../images/pool_check.jpg) no-repeat center;
}

.pool_close {
	position: relative;
	top: 10px;
	left: 42px;
	width: 30px;
	height: 30px;
	background: url(../images/pool_close.jpg) no-repeat center;
}
/**********************************************************************/

/* Select Widget */
.select {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 170px;
    max-width: 325px;
    color: #fff;
    vertical-align: middle;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
}
.select .placeholder {
    position: relative;
    display: block;
    background-color: #077DF1;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.select .placeholder:hover {
    background: #077DF1;
}
.select .placeholder:after {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    content: '\f078';
    z-index: 10;
}
.select.is-open .placeholder:after {
    content: '\f077';
}

.select .placeholder:before {
    content: "\f1c0";
	transform: translateY(-50%);
    font-family: 'FontAwesome';
    z-index: 10;
    margin-right: 10px;
}

.select.is-open ul {
    display: block;
}
.select.select--white .placeholder {
    background: #fff;
    color: #999;
}
.select.select--white .placeholder:hover {
    background: #fafafa;
}
.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
}
.select ul li {
    display: block;
    text-align: left;
    padding: 0.8em 1em 0.8em 1em;
    color: #999;
    cursor: pointer;
    background: #f5f5f5;
}
.select ul li:hover {
    background: #4ebbf0;
    color: #fff;
}

.select ul li:before {
	content: "\f1c0";
	transform: translateY(-50%);
    font-family: 'FontAwesome';
    z-index: 10;
    margin-right: 10px;
}